# Example environment variables - customize these for your application
# PENNCOM_CLIENT_ID=your-client-id
# PENNCOM_CLIENT_SECRET=your-secret-here
RDSPOSTGRESDB_SECRET_KEY=your_app_name/rds/credentials
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'  # Print emails to console
DEFAULT_FROM_EMAIL = 'noreply@example.com'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''